@charset "UTF-8";

html, body {
      height: 100%;
}

#plain_panel {
      background-color: white;
      flex: 1;
      margin: 2vh 1vw 0 1vw;
      padding: 1vw;
      border: solid .5px;
      border-color: rgb(225, 227, 230);
      border-radius: 20px;
      display: flex;
      flex-flow: column nowrap;
}


#panel_footer {
      /*The panel footer div should always be added and left empty.*/
      min-height: 1vw;
      max-height: 1vw;
}